<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" th:href="@{/huistatic/h-ui/css/H-ui.min.css}" href="#" />
    <link rel="stylesheet" type="text/css" th:href="@{/huistatic/h-ui.admin/css/H-ui.admin.css}" href="#" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" href="#" />
    <link rel="stylesheet" type="text/css" th:href="@{/huistatic/h-ui.admin/skin/default/skin.css}" href="#" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/huistatic/h-ui.admin/css/style.css}" href="#" />
    <title>Title</title>
</head>
<body>
<table  class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
    <thead>
    <tr class="text-c" >
        <td>客户姓名</td>
        <td>下单时间</td>
        <td>是否结账</td>
    </tr>
    </thead>
    <tr class="text-c"  th:each=" f : ${session.flist}" >
        <td th:text="${f.cus_name}"></td>
        <td th:text="${f.order_time}"></td>
        <td>[[${f.ispayment}]]<span> <a class="bbb" th:href="@{/finance/ckxq(id=${f.order_id})}" th:ccc="${f.id}"  th:bbb="${f.order_id}"  th:if="${f.ispayment} eq '未结账'" >查看详情</a> </span></td>
    </tr>
</table>
<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title" id="title">对话框标题</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

                <button class="btn btn-primary">确定</button>
                <button class="btn" data-dismiss="modal" onclick="gb()" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}" src="#"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}" src="#"></script>
<script type="text/javascript" th:src="@{/huistatic/h-ui/js/H-ui.min.js}" src="#"></script>
<script type="text/javascript" th:src="@{/huistatic/h-ui.admin/js/H-ui.admin.js}" src="#"></script><!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}" src="#"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}" src="#"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}" src="#"></script>
<script type="text/javascript">
    $(function(){
$(".bbb").click(function(){
    var vv=$(this).attr("ccc");
    $.post("ajaxid",{"ajaxid":vv},function(res){
        alert(res)
    })

    }
)



    })
    $('.table-sort').dataTable({
        "bStateSave": true,//状态保存
        "aLengthMenu":[1,2,3,4,5,10,20],//可自行选择 每页显示条数
        "pading":false,
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,2]}// 不参与排序的列
        ],
        "oLanguage" : { // 国际化配置
            "sProcessing" : "正在获取数据，请稍后...",
            "sLengthMenu" : "显示 _MENU_ 条",
            "sZeroRecords" : "没有找到数据",
            "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
            "sInfoEmpty" : "记录数为0",
            "sInfoFiltered" : "(全部记录数 _MAX_ 条)",
            "sInfoPostFix" : "",
            "sSearch" : "关键字查询",
            "sUrl" : "",
            "oPaginate" : {
                "sFirst" : "第一页",
                "sPrevious" : "上一页",
                "sNext" : "下一页",
                "sLast" : "最后一页"
            }
        }
    });
    /*总费用*/
    function sum_menty(){
        var vv=$(this).attr("ccc");
        $.post("ajaxid",{"ajaxid":vv},function(res){
            alert(res)
        })
        var orderid=$(this).attr("bbb");
        var v=$(this).attr("bbb")
        zf(orderid)
        modaldemo()
    }
    /*关闭*/
    function gb() {
   window.location.href="/finance/wjs";
    }
    /*显示支付二维码*/
    function zf(){




    }

    /*资讯-添加*/
    function article_add(title,url,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*资讯-编辑*/
    function article_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    function modaldemo(){
        $("#modal-demo").modal("show")
    }


</script>
</body>
</html>